.jumbotron {
 margin-top: 50px;
 padding: 0%;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;

}

.card{
    flex: 1 150px;
}

.btn {
    width: 100%;
}

