.jumbotron {
  margin-top: 50px;
  padding: 0%;
  background-color: #f2f7ea;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #4d632b;
  margin-top: 10px;
  margin-bottom: 0px; }

.card {
  flex: 1 150px;
  background-color: #f44641;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn {
  width: 100%; }
