$yellow: #f2f7ea;
$red: #f44641;
$green: #4d632b;

@mixin margenes ($top,$bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    margin-top: 50px;
    padding: 0%;
    background-color: $yellow;
    @include margenes(50px,0px)
   }
   
   footer{
       padding: 10px 10px 0 10px;
       background-color: $green;
       @include margenes(10px,0px)
   
   }
   
   .card{
       flex: 1 150px;
       background-color: $red;
       @include margenes(10px,0px)
   }
   
   .btn {
       width: 100%;
   }
   
   